<h1>Quizmatic</h1>

<% if logged_in? %>
  <h3>Quizzes you've set</h3>
  <table>
    <% current_user.quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.title %></td>
        <td><%= pluralize quiz.questions.count, "questions" %></td>
        <td>
          <%= button_to_toggle_published(quiz) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "Set new quiz", new_quiz_path %>




<!--

<div class="row">

  <div class="col-21" style="border: 1px solid red;">
    I'm in a div.
  </div>

</div>

<div class="row">
  <div class="col-13" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-8" style="border: 1px solid red;">
    I'm in a div.
  </div>
</div>
<div class="row">
  <div class="col-8" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-5" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-5" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-3" style="border: 1px solid red;">
    I'm in a div.
  </div>
</div>
<div class="row">
  <div class="col-5" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-3" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-3" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-2" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-3" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-2" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-2" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <div class="col-1" style="border: 1px solid red;">
    I'm in a div.
  </div>
</div>

<div class="row">
  <% 21.times do %>

  <div class="col-1" style="border: 1px solid red;">
    I'm in a div.
  </div>
  <% end %>
</div> -->