// Values and constants.

// main set
$mid_green: #8CE87A;
$light_green: #AFFF9F;
$dark_green: #495E45;
$purple: #782762;
$pink: #C470AE;

// shades only
$light-pink: #E080C7;
$light-purple: #9C3380;
$dark-pink: #B0649C;
$dark-purple: #571C47;

//  warnings only
$red: #FF7F8E;

//  Break points:
$landscape-phones: 480px;
$desktop: 980px;